.env
.codebase-index.json
#codebase index je pro copilot cli, chtel jsem to vyzkouset, ale je to k hovnu, prijde mi, ze je vetsi lobotom jak ten v chatu a akorat zere vic kreditu. Bohuzel porad lepsi to psat rucne
